<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      {% for horaire in horaires %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <p class="nav-link active">Nos horaires : {{horaire.jourSemaine}}</p>
          </li>
          <li class="nav-item">
            <p class="nav-link active" >{{horaire.ouverture}}</p>
          </li>
          <li class="nav-item">
            <p class="nav-link active"  >{{horaire.fermeture}}</p>
          </li>
          
        </ul>
        <p class="text-white">/ Telephone : 0123456789 / Email: V.parrot@garage.fr</p>
        {% endfor %}
      </div>
    </div>
  </nav>
  