{% extends "@EasyAdmin/layout.html.twig" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4 "> Administration garage <a href="{{ path('app_home') }}">V.Parrot</a> </h1>
    <p class="lead">Bienvenue dans l Administration du garage Vincent Parrot </p>
</div>

{% endblock %}