



{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">"Partager votre expérience en laissant un avis sincère."</h1>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
      <form method="POST">
       
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.commentaire) }}
        {{ form_row(form.note) }}

        <button type="submit" class="btn btn-info btn-sm">Valider</button>
    </form>
      </div>
    </div>
  </div>
{% endblock %}
